body, html {
  margin: 0px;
  padding: 0px;
}

/* Header */

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height: 75px;
  top: 0px;
  left: 0px;
  right: 0px;
}
.header h3 {
  color: MediumAquamarine;
}
.header nav {
  display: inline-block;
}
.header a {
  color: black;
}
.header .logo {
  display: inline-flex;
}

/* columns */

.columns {
  display: flex;
  border: 1px solid black;
  padding-top: 75px;
}
.columns h2 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.mother h2,
.earth h2,
.research h2,
.cats h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.columns .large {
  width: 630px;
  border: 1px solid black;
}
.mother h2 {
  background-image: url("../../resources/images/story-main.png");
  font-size: 40px;
}
.earth h2 {
  background-image: url("../../resources/images/fall-season.png");
}
.research h2 {
  background-image: url("../../resources/images/hip-cam.png");
}
.cats h2 {
  background-image: url("../../resources/images/cat-ceo.png");
}
.columns .medium {
  width: 300px;
  border: 1px solid black;
}
.columns .small {
  width: 240px;
  border: 1px solid black;
}
.story {
  border: 1px solid black;
}
